<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Blood_Bank_Management_System.Properties.Settings.bloodbankConnectionString"
            connectionString="Data Source=DESKTOP-8786N7G\SQLEXPRESS;Initial Catalog=bloodbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Blood_Bank_Management_System.Properties.Settings.bloodbankConnectionString1"
            connectionString="Data Source=DESKTOP-9O107CL\SQLEXPRESS;Initial Catalog=bloodbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>